services:
  anubis_django_blue:
    image: ghcr.io/techarohq/anubis:latest
    environment:
      BIND: ":8000"
      DIFFICULTY: "3"
      METRICS_BIND: ":9010"
      TARGET: "http://django_blue:8000"
      OG_PASSTHROUGH: "true"
      USE_REMOTE_ADDRESS: "true"
    ports:
      - 8000:8000
    volumes:
      - "./botPolicy.yaml:/data/cfg/botPolicy.yaml:ro"
  django_blue:
    build: .
    volumes:
      - .:/app/
      - ../sites:/sites/
    environment:
      - DJP_PLUGINS_DIR=django_plugins
      - WEB_CONCURRENCY=4
      - DJANGO_SETTINGS_MODULE=config.prod_settings
      - REDIS_URL=redis://redis:6379
    command: uvicorn config.asgi:application --host 0.0.0.0 --limit-max-requests 100 --timeout-graceful-shutdown 7
    ports:
      - 9000:8000
    depends_on:
      - redis
  anubis_django_green:
    image: ghcr.io/techarohq/anubis:latest
    environment:
      BIND: ":8001"
      DIFFICULTY: "3"
      METRICS_BIND: ":9020"
      TARGET: "http://django_green:8000"
      OG_PASSTHROUGH: "true"
      USE_REMOTE_ADDRESS: "true"
    ports:
      - 8001:8001
    volumes:
      - "./botPolicy.yaml:/data/cfg/botPolicy.yaml:ro"
  django_green:
    build: .
    volumes:
      - .:/app/
      - ../sites:/sites/
    environment:
      - DJP_PLUGINS_DIR=django_plugins
      - WEB_CONCURRENCY=4
      - DJANGO_SETTINGS_MODULE=config.prod_settings
      - REDIS_URL=redis://redis:6379
    command: uvicorn config.asgi:application --host 0.0.0.0 --limit-max-requests 100 --timeout-graceful-shutdown 7
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  sites_datasette_blue:
    build:
      dockerfile: Dockerfile.sites
    ports:
      - 40001:8001
    volumes:
      - .:/app
      - ../civic-band:/civic-band/
    command: >
      datasette -h 0.0.0.0 /civic-band/sites.db
      --metadata /app/metadata.json
      --template-dir /app/templates/sites-database
      --setting default_page_size 1000
      --setting sql_time_limit_ms 3000
      --setting num_sql_threads 5
      --setting allow_download off
      --setting allow_csv_stream off
  sites_datasette_green:
    build:
      dockerfile: Dockerfile.sites
    ports:
      - 40002:8001
    volumes:
      - .:/app
      - ../civic-band:/civic-band/
    command: >
      datasette -h 0.0.0.0 /civic-band/sites.db
      --metadata /app/metadata.json
      --template-dir /app/templates/sites-database
      --setting default_page_size 1000
      --setting sql_time_limit_ms 3000
      --setting num_sql_threads 5
      --setting allow_download off
      --setting allow_csv_stream off

volumes:
  redis_data: