<!-- above-table-panel is a hook node for plugins to attach to . Displays even if no data available -->
<div class="above-table-panel"> </div>
{% if display_rows %}
<div class="table-wrapper">
    <table class="rows-and-columns" style="width:100%">
        <thead>
            <tr>
                {% for column in display_columns %}
                    {% if column.name in ('popup', "lat", "lng") %}
                        <th style="display: none" {% if column.description %}data-column-description="{{ column.description }}" {% endif %}class="col-{{ column.name|to_css_class }}" scope="col" data-column="{{ column.name }}" data-column-type="{{ column.type.lower() }}" data-column-not-null="{{ column.notnull }}">{{ column.name }}</th>
                    {% else %}
                        <th {% if column.description %}data-column-description="{{ column.description }}" {% endif %}class="col-{{ column.name|to_css_class }}" scope="col" data-column="{{ column.name }}" data-column-type="{{ column.type.lower() }}" data-column-not-null="{{ column.notnull }}" data-is-pk="{% if column.is_pk %}1{% else %}0{% endif %}">
                        {% if not column.sortable %}
                            {{ column.name }}
                        {% else %}
                            {% if column.name == sort %}
                                <a href="{{ fix_path(path_with_replaced_args(request, {'_sort_desc': column.name, '_sort': None, '_next': None})) }}" rel="nofollow">{{ column.name }}&nbsp;▼</a>
                            {% else %}
                                <a href="{{ fix_path(path_with_replaced_args(request, {'_sort': column.name, '_sort_desc': None, '_next': None})) }}" rel="nofollow">{{ column.name }}{% if column.name == sort_desc %}&nbsp;▲{% endif %}</a>
                            {% endif %}
                        {% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in display_rows %}
            <tr>
                {% for cell in row %}
                    {% if cell.column == 'subdomain'%}
                    <td class="col-{{ cell.column|to_css_class }} type-{{ cell.value_type }}"><a href="https://{{cell.raw}}.civic.band">{{ cell.raw }}</a></td>
                    {% elif cell.column in ('popup', "lat", "lng") %}
                    <td style="display: none" class="col-{{ cell.column|to_css_class }} type-{{ cell.value_type }}"><a href="https://{{cell.raw}}.civic.band">{{ cell.raw }}</a></td>
                    {% else %}
                    <td class="col-{{ cell.column|to_css_class }} type-{{ cell.value_type }}">{{ cell.value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p class="zero-results">0 records</p>
{% endif %}