<!DOCTYPE html>
<html lang="en">

<head>
    <title>Civic Band</title>
    <script defer src="https://analytics.civic.band/sunshine"
        data-website-id="6250918b-6a0c-4c05-a6cb-ec8f86349e1a"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fediverse:creator" content="@civicband@sfba.social">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
            <p class="text-base/7 font-semibold text-indigo-600"><a href="/">
                    < Back</a>
            </p>
            <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Why?</h1>
            <p class="mt-6 text-xl/8">So, why do we do all this? Why does CivicBand exist?</p>
            <div class="mt-10 max-w-2xl">
                <p>This project started because I wanted to know more about what was going on in my hometown of Alameda,
                    CA. Specifically, I wanted to be able to look up the voting records of elected officials, and was
                    mad that I couldn't do that easily. Even with Alameda using a central management platform for
                    hosting
                    all the PDFs, searching in them was hard, if not impossible.</p>
                <p class="mt-8">Around that time, Simon Willison was writing about how he was OCR'ing PDFs right into
                    Datasette, and I realized this was the perfect fit for what I was trying to do. I modified his
                    techniques to run totally locally, because AWS is expensive, and I was off to the races.</p>
                <p class="mt-8">The question isn't "why did I start?", it's "why didn't I stop?". Why do we now track
                    149 different municipal bodies, with more being added every week? It's actually pretty simple: The
                    biggest impact most of us can have is locally, and in order to make that impact you need to know how
                    and where to show up.</p>
                <p class="mt-8">Do you care about rent control? Do you know when upcoming City Council meetings or
                    Planning Board meetings are talking about that? Do you know how the current City Council has voted
                    on it in the past? CivicBand gives you that, for every place we track, for ideally any issue you
                    care about.</p>
                <p class="mt-8">CivicBand a tool for activists, and journalists, and NGOs, and
                    non-profits, and really any organization that cares about regional issues to know what's going on
                    and hold elected officials accountable. We're just getting started, and if this is interesting to
                    you reach out to hello@civic.band.</p>
            </div>
        </div>
    </div>
</body>

</html>