{% extends "pages/_content_page.html" %}

{% block title %}Why? - Civic Band{% endblock %}
{% block description %}Why CivicBand exists - municipal transparency and civic participation{% endblock %}

{% block page_title %}Why?{% endblock %}

{% block page_subtitle %}
<p class="mt-6 text-xl/8">So, why do we do all this? Why does CivicBand exist?</p>
{% endblock %}

{% block page_content %}
<p>This project started because I wanted to know more about what was going on in my hometown of Alameda,
    CA. Specifically, I wanted to be able to look up the voting records of elected officials, and was
    mad that I couldn't do that easily. Even with Alameda using a central management platform for
    hosting
    all the PDFs, searching in them was hard, if not impossible.</p>
<p class="mt-8">Around that time, Simon Willison was writing about how he was OCR'ing PDFs right into
    Datasette, and I realized this was the perfect fit for what I was trying to do. I modified his
    techniques to run totally locally, because AWS is expensive, and I was off to the races.</p>
<p class="mt-8">The question isn't "why did I start?", it's "why didn't I stop?". Why do we now track
    149 different municipal bodies, with more being added every week? It's actually pretty simple: The
    biggest impact most of us can have is locally, and in order to make that impact you need to know how
    and where to show up.</p>
<p class="mt-8">Do you care about rent control? Do you know when upcoming City Council meetings or
    Planning Board meetings are talking about that? Do you know how the current City Council has voted
    on it in the past? CivicBand gives you that, for every place we track, for ideally any issue you
    care about.</p>
<p class="mt-8">CivicBand a tool for activists, and journalists, and NGOs, and
    non-profits, and really any organization that cares about regional issues to know what's going on
    and hold elected officials accountable. We're just getting started, and if this is interesting to
    you reach out to hello@civic.band.</p>
{% endblock %}
